*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline:none;}
a{color: #ffffff;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}
input:-ms-clear{display: none;}
button{cursor: pointer;}
button:-moz-focus-inner{padding: 0; border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400;}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 70vw;
  margin: 0 auto;
  background:rgb(60, 49, 66);
}

.content {
  width: 50%;
  border: 1px solid rgb(0, 195, 255);
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 85vh;
  width: 50%;
  margin: 30px 0;
  /* border: 1px solid red; */
}

input {
	display: none;
}

.slide {
  height: 100%;
  width: 100%;
  transition: all 0.6s ease;
}

.slides {
  display: flex;
  overflow: hidden;
  border: 19px solid rgb(211, 211, 211);
}

img {
  height: 100%;
  object-fit: fill;
}

.bottom {
  display: flex;
  justify-content: space-between;
  text-align: base-line;
}

.text {
  display: inline;
  overflow: hidden;
  height: 30px;
  width: 60%;
  color: rgb(211, 211, 211);
  font-size: 18px;
  font-family: Arial;
  line-height: 160%;
  letter-spacing: 1.5px;
}

.text-content {
  transition: all 0.6s ease;
}

.controls {
  display: flex;
  justify-content: space-around;
  width: 130px;
}

label {
	cursor: pointer;
	display: inline-block;
	height: 30px;
	width: 30px;
  opacity: 0.5;
  border-radius: 50%;
  background:rgb(205, 205, 205);
  transition: all 0.4s ease;
  border: 10px solid rgb(60, 49, 66);
}

label:checked {
  background:rgb(97, 57, 166);
}

label:hover {
  opacity: 1;
}

#slide-1:checked ~ .slides .slide-1 {
  margin-left : 0;
}

#slide-1:checked ~ .bottom .text .text-1 {
  margin-top: 0;
}

#slide-2:checked ~ .slides .slide-1 {
  margin-left : -100%;
}

#slide-2:checked ~ .bottom .text .text-1 {
  margin-top: -9%;
}

#slide-3:checked ~ .slides .slide-1 {
  margin-left : -200%;
}

#slide-3:checked ~ .bottom .text .text-1 {
  margin-top: -18%;
}

#slide-4:checked ~ .slides .slide-1 {
  margin-left : -300%;
}

#slide-4:checked ~ .bottom .text .text-1 {
  margin-top: -27%;
}

#slide-1:checked ~ bottom .controls .label-1,
#slide-2:checked ~ bottom .controls .label-2,
#slide-3:checked ~ bottom .controls .label-3,
#slide-4:checked ~ bottom .controls .label-4 {
  background: rgb(235, 32, 32);
}